body {
  background: linear-gradient(to right, #1f2c41, #253348);
  font-family: "Oswald", sans-serif;
  color: ghostwhite;
}

a {
  color: orange;
  text-decoration: none;
}

h1 {
  margin-top: 0;
  font-weight: 500;
}

hr {
  border: none;
  height: 1px;
  background-color: #506584;
  margin: 20px 0;
}

.weather-app {
  max-width: 600px;
  /* background-color: gray; */
  margin: 20px auto;
  padding: 10px;
}

.search-form {
  display: flex;
  margin-bottom: 20px;
}

.search-input {
  font-size: 16px;
  background-color: #0f172c;
  width: 70%;
  height: 25px;
  padding: 10px;
  border: none;
  border-radius: 5px;
}

.search-input::placeholder {
  color: #506584;
}

.search-button {
  font-size: 16px;
  background-color: #0f172c;
  width: 28%;
  padding: 10px;
  border: none;
  border-radius: 5px;
  margin-left: 2%;
  color: orange;
}

.current-weather {
  background-color: #0f172c;
  border-radius: 10px;
  padding: 20px;
  border-left: 5px solid orange;
}

.current-city-date-temp {
  display: flex;
  justify-content: space-between;
}

.current-temp {
  display: flex;
}

.current-city-date p {
  font-size: 18px;
  font-weight: 400;
  color: #506584;
}

.temp-degrees {
  font-size: 62px;
  font-weight: 500;
  margin-right: 15px;
}

.temp-icon {
  font-size: 62px;
  padding-left: 10px;
}

.current-air-details {
  margin-top: 30px;
  display: flex;
  font-size: 24px;
}

.humidity {
  width: 50%;
}

.wind {
  width: 50%;
}

.air {
  font-size: 20px;
  font-weight: 400;
  color: #506584;
}

footer {
  margin-top: 25px;
  opacity: 0.6;
}

.icon-water {
  width: 20px;
  height: 20px;
  stroke: orange;
  stroke-width: 4;
  fill: none;
}

.icon-wind {
  width: 20px;
  height: 20px;
  stroke: orange; /* outline color */
  stroke-width: 20; /* thickness */
  fill: none; /* no fill inside */
  stroke-linecap: round; /* rounded line ends */
  stroke-linejoin: round; /* smooth joins */
}
