:root {
  --bg-gradient-start: #1f2c41;
  --bg-gradient-end: #253348;
  --bg-dark: #0f172c;
  --text-light: ghostwhite;
  --text-muted: #506584;
  --accent: #d89034;
}

body {
  background: linear-gradient(to right, #1f2c41, #253348);
  font-family: "Oswald", sans-serif;
  color: var(--text-light);
}

a {
  color: var(--accent);
  text-decoration: none;
}

h1 {
  margin-top: 0;
  font-weight: 300;
}

h2 {
  font-weight: 300;
  font-size: 20px;
}

hr {
  border: none;
  height: 1px;
  background-color: var(--text-muted);
  margin: 20px 0;
}

.weather-app {
  max-width: 600px;
  margin: 20px auto;
  padding: 10px;
  background-color: transparent;
}

.search-form {
  display: flex;
  margin-bottom: 20px;
}

.search-input {
  font-size: 16px;
  background-color: var(--bg-dark);
  width: 70%;
  height: 25px;
  padding: 10px;
  border: 2px solid transparent;
  border-radius: 5px;
  color: var(--text-light);
}

.search-input:focus {
  border-color: var(--accent, orange);
  outline: none;
}

.search-input::placeholder {
  color: var(--text-muted);
}

.search-button {
  font-size: 16px;
  background-color: var(--bg-dark);
  width: 28%;
  padding: 10px;
  border: none;
  border-radius: 5px;
  margin-left: 2%;
  color: var(--accent);
}

.current-weather {
  background-color: var(--bg-dark);
  border-radius: 10px;
  padding: 20px;
  border-left: 5px solid var(--accent);
}

.current-main {
  display: flex;
  justify-content: space-between;
}

.current-description {
  display: flex;
  flex-direction: column;
}
.current-right {
  display: flex;
  flex-direction: row;
}

.temp {
  font-size: 62px;
  font-weight: 500;
  margin-top: 0;
}

.temp-unit {
  font-size: 32px;
  margin-top: 10px;
  color: var(--text-light);
}

.temp-icon {
  font-size: 62px;
  padding-left: 10px;
}

.current-air-details {
  display: flex;
  justify-content: space-between; /* spreads 3 items evenly */
  align-items: flex-start;
  gap: 60px;
  margin-top: 30px;
}

.humidity,
.wind,
.feels-like {
  flex: 1; /* makes them equal width */
  display: flex;
  flex-direction: column; /* label above value */
  color: var(--text-muted);
}

.label-row {
  display: flex;
  align-items: center;
  gap: 6px;
  margin-bottom: 4px;
}

.material-icons {
  font-size: 22px;
}

.label {
  font-weight: 300;
}

.humidity-percent,
.wind-speed,
.feels-like-temp,
.humidity-unit,
.wind-speed-unit,
.feels-like-unit {
  font-size: 28px;
  color: white;
}

footer {
  margin-top: 25px;
  opacity: 0.6;
}

.forecast {
  background-color: transparent;
  display: flex;
  justify-content: space-around;
  margin-top: 20px;
}

.forecast-day {
  background-color: var(--bg-dark);
  border-radius: 5px;
  padding: 25px;
  display: flex;
  flex-direction: column;
  text-align: center;
  border: 1px solid var(--text-muted);
}

.forecast-date {
  font-size: 20px;
}

.forecast-temperatures {
  text-align: center;
  color: var(--accent);
  margin-top: 5px;
  display: flex;
  justify-content: center;
}

.forecast-temperatures strong {
  padding-right: 10px;
}

.forecast-icon {
  width: 60px;
  height: 60px;
}
